* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

body {
    position: relative;
    background: linear-gradient(
        to left,
        rgba(20, 20, 20, 0) 5%,
        rgba(20, 20, 20, 0.25) 60%,
        rgba(20, 20, 20, 0.5) 65%,
        rgba(20, 20, 20, 0.85) 75%,
        rgba(20, 20, 20, 1) 100%
    ), url("./img/jw1.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 40%;
}

button {
    border: none;
    background: none;
    outline: 0;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* header */
header {
    width: 100%;
    height: 80px;
    padding: 0 30px 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 70px;
}

.logo-a {
    display: flex;
}

.logo img {
    width: 40px;
}

.nav {
    display: flex;
}

.nav > li.active > a {
    color: #ea3323;
}

.nav li {
    margin-right: 20px;
    letter-spacing: 0.115rem;
    font-weight: 500;
}

.nav li a:hover {
    color: #ea3323;
    transition: .3s;
}

.menuBtn {
    padding: 1rem;
    cursor: pointer;
}

.menu-line {
    display: block;
    width: 26px;
    height: 2px;
    position: relative;
    background-color: #fff;
}

.menu-line::before,
.menu-line::after {
    display: block;
    width: inherit;
    height: 2px;
    position: absolute;
    background-color: #fff;
    content: '';
}

.menu-line::before {
    bottom: 300%;
}

.menu-line::after {
    top: 300%;
}

/* main */
main {
    height: 310px;
    margin: 60px 30px 0 160px;
    display: flex;
    align-items: flex-end;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-right: 400px;
}

.description h2 {
    margin-top: 30px;
    font-weight: 300;
}

.description p {
    width: 68%;
    margin-top: 30px;
    font-weight: 300;
}

.title-img img {
    width: 460px;
}

.info {
    display: flex;
    margin-top: 30px;
}

.info li {
    font-weight: 200;
    margin-right: 30px;
}

strong {
    font-weight: 500;
    margin-right: .625em;
}

.trailer-arrow {
    display: flex;
}

.trailer {
    font-weight: 500;
    transform: rotate(-90deg);
}

.arrow {
    position: relative;
}

.arrow::after {
    position: absolute;
    left: 0; 
    top: 0; 
    content: '';
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(225deg);
    /* duration | timing-function | delay |
iteration-count | animation-direction | name */
    animation: .4s linear .4s infinite alternate arrow;
}

@keyframes arrow {
    from { left: 0; }
    to   { left: 10px; }
}

/* section watch-more */
.watch-more {
    width: 100%;
    display: flex;
    margin-top: 70px;
    padding: 0 160px;
    
}

.watch-more a {
    display: inline-block;
    width: 14%;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    text-align: center;
    line-height: 2.5;
}

.watch-more a:first-child {
    margin-right: 20px;
}


/* footer */
footer {
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 40px;
}

.social-link {
    width: 100%;
}

.social-link a {
    margin-right: 30px;
}

.social-link img {
    width: 30px;
}
